.enter::after {
	animation: go-left 1.5s ease 0.1s 1 forwards;
  }
  
  .enterDone::after {
	right: 10%;
  }
  
  .exit::after {
	animation: go-right 1.5s ease-in-out 0.1s 1 forwards;
  }
  
  .exitActive::after {
	right: 10%;
  }
  /*
.ContentBlock.entering::after{
	animation: go-left 1s ease 0.1s 1 forwards;
}
.ContentBlock.entered::after{
	right: 40%;
}
.ContentBlock.exiting::after{
	animation: go-right 1s ease-in-out 0.1s 1 alternate;
}
.ContentBlock.exited::after {
	right: 0%;
}
*/
@keyframes go-left {
	0%{
		right: 0;
	} 100% {
		right: 10%;
	}
}
@keyframes go-right {
	from{
		right: 10%;
	} to {
		right: 0%;
	}
}