.BikeBlock{
	position: absolute;
	z-index: 1;
	width: 100vw;
	height: 100vh;

	overflow: hidden;
}
.Rama{
	position: relative;
	top: 20%;
	left: 15%;
	
	width: 35%;
	max-width: 504px;
	height: 0;
	padding-bottom: 22%;

	background-image: url(../../assets/bike/rama.png);
	background-size: contain;
	background-repeat: no-repeat;
}
@media (min-width:1400px) {
	.Rama{
		padding-bottom: 317px;
	}
}
.Sedlo{
	position: absolute;
	left: 20%;
	z-index: -1;

	width: 20%;
	height: 0;
	padding-bottom: 28%;
	
	background-image: url(../../assets/bike/sedlo.png);
	background-repeat: no-repeat;
	background-size: contain;

	transform: rotateZ(-4deg);
}

.WheelBack{
	position: absolute;
	bottom: -16%;
	left: -15%;
	z-index: -1;

	width: 50%;
	height: 0;
	padding-bottom: 50%;

	background-image: url(../../assets/bike/wheel\(1\).png);
	background-repeat: no-repeat;
	background-size: contain;

	transform-origin: center;
}

.WheelFront{
	position: absolute;
	bottom: -15%;
	right: -11.5%;
	z-index: -1;

	width: 50%;
	height: 0;
	padding-bottom: 50%;

	background-image: url(../../assets/bike/wheel\(1\).png);
	background-repeat: no-repeat;
	background-size: contain;

	transform-origin: center;
}

/*
.BikeBlock{
	position: absolute;
	z-index: 1;
	width: 100vw;
	height: 100vh;
}
.Rama{
	position: relative;
	top: 20%;
	left: 15%;
	
	width: 540px;
	height: 350px;

	background-image: url(../../assets/bike/rama.png);
	background-size: contain;
	background-repeat: no-repeat;
}
.Sedlo{
	position: absolute;
	z-index: -11;
	top: 0;
	left: 20.2%;

	width: 25%;
	height: 25%;
	
	background-image: url(../../assets/bike/sedlo.png);
	background-repeat: no-repeat;
	background-size: contain;

	transform: rotateZ(-4deg);
}

.WheelBack{
	position: absolute;
	bottom: -16%;
	left: -15%;
	z-index: -1;

	width: 280px;
	height: 280px;

	background-image: url(../../assets/bike/wheel\(1\).png);
	background-repeat: no-repeat;
	background-size: contain;

	transform-origin: center;
}

.WheelFront{
	position: absolute;
	bottom: -15%;
	right: -13.5%;
	z-index: -1;

	width: 280px;
	height: 280px;

	background-image: url(../../assets/bike/wheel\(1\).png);
	background-repeat: no-repeat;
	background-size: contain;

	transform-origin: center;
}
*/